body{
    background-color: red;
    font-family: 'Prompt', sans-serif;
}

img{
    width:10em;
    height: 10em;
}

#container{
    display: grid;
    gap:1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-areas:
    "upper_left upper_left"
    "left right"
    "lower_left lower_right";
}


#left{
    grid-area: "left";
    padding: auto;
    border:0.1em solid black;
    border-radius: 5px;
    box-shadow:  0.1em 0.1em 0.1em 0.1em black;
}

#display{
    background-color:lightgray;
    border:1em solid white;
    border-radius: 5px 5px 0px 5px;
    text-align: center;
    width: 50%;
    position: relative;
    top:12.5%;
    left:12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#right{
    padding-top:2em;
    grid-area: "right";
    padding: auto;
    display: flex;
    flex-direction: column;
    border:0.1em solid black;
    border-radius: 5px;
    align-items: center;
    box-shadow:  0.1em 0.1em 0.1em 0.1em black;
}

#small_display{
    background-color: gray;
    border-radius: 5px;
    width: 10em;
    height: 30%;
    margin-bottom: 1em;
    text-align: center;
    font-size: x-large;
    border:0.1em solid black;
    margin-top: 1em;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.blue_button{

    border-radius: 5px;
    border:0.1em solid black;
    margin: 0;
    background-color:cyan;
    width: 3em;
    height: 3em;

}

.blue_button:hover{
    background-color: lightblue;
}

#upper_left{
    grid-area: "upper_left";
    display: flex;
    justify-content: flex-start;
    border:0.1em solid black;
    border-radius: 5px;
    box-shadow:  0.1em 0.1em 0.1em 0.1em black;
}

#big_ball{
    animation: changeColor 0.5s infinite alternate;
    border-radius: 50px;
    border:0.3em solid white;
    width: 3em;
    height: 3em;
}

@keyframes changeColor {
    from {
        background-color: cyan;
    }
    to {
        background-color: lightblue;
    }
}

.small{
    width:1em;
    height: 1em;
    margin: 0.5em;
    border:0.1em solid black;
    border-radius: 20px;
}

.red{
    animation: changeRed 1s infinite alternate;
}

@keyframes changeRed {
    0% {
        background-color: red;
    }
    50% {
        background-color: green;
    }
    100%{
        background-color: yellow;
    }

}

.green{
    animation: changeGreen 1s infinite alternate;
}

@keyframes changeGreen {
    0% {
        background-color: green;
    }
    50% {
        background-color: yellow;
    }
    100%{
        background-color: red;
    }

}

.yellow{
    animation: changeYellow 1s infinite alternate;
}

@keyframes changeYellow {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: red;
    }
    100%{
        background-color: green;
    }

}

#lower_left{
    grid-area:"lower_left";
    display: flex;
    flex-direction: column;
    border:0.1em solid black;
    border-radius: 5px;
    padding: 1em;
    box-shadow:  0.1em 0.1em 0.1em 0.1em black;
}

.ind_blue{
    animation: indBlue  0.5s infinite alternate;
}

@keyframes indBlue {
    from{
        background-color: blue;
    }
    to{
        background-color: red;
    }
}

.ind_red{
    animation: indRed 0.5s infinite alternate;
}

@keyframes indRed {
    from{
        background-color: red;
    }
    to{
        background-color: blue;
    }
}

#button_and_indicator{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.indicator{
    width:3em;
    border-radius: 5px;
    height: 0.5em;
    margin-left: 1em;
    border: 0.1em solid black;
}

#nav_and_display{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

#name_display{
    background-color: yellowgreen;
    border-radius: 5px;
    width:40%;
    height: 3em;
    text-align: center;
    border:0.1em solid black;
    
}

#name{
    padding-top:0.7em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#shiny_button{
    border-radius: 50px;
    border:0.3em solid black;
    width: 3em;
    height: 3em;
    background-color: gray;
}

#shiny_button:hover{
    background-color: lightgray;
}

.nav_button{
    width:1em;
    height:1em;
    background-color: gray; 
    
}

#nav{
    display:grid;
    width: 3em;
    height: 3em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0.1em;
}

.blank{
    height: 1em;
    width:1em;
}

.center_piece{
    background-color: gray;
}

#up_button{
    border-top: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow:  0.1em 0em 0em 0em black;
}

.nav_button:hover{
    background-color: lightgray;
    box-shadow: 0em 0em 0em 0em black;
}

#right_button{
    border-top: 0.1em solid black;
    border-right: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:  0.1em 0.1em 0em 0em black;
}

#left_button{
    border-top: 0.1em solid black;
    border-left: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:  0em 0.1em 0em 0em black;
}

#down_button{
    border-bottom: 0.1em solid black;
    border-right: 0.1em solid black;
    border-left: 0.1em solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:  0.1em 0.1em 0em 0em black;
}

#lower_right{
    display:flex;
    flex-direction: column;
    box-shadow:  0.1em 0.1em 0.1em 0.1em black;
    border:0.1em solid black;
    border-radius: 10px;
    padding: 1em;
}

#button_and_dot{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#dot{
    border-radius: 50px;
    background-color: yellow;
    width: 2em;
    height: 2em;
    border:0.1em solid black;
}

#white_buttons{
    display: flex;
    flex-direction: row;
    
}

.white_button{
    background-color: white;
    height: 2em;
    width: 2em;
    margin: 0.01em;
    border: 0.1em solid black;
    border-radius: 5px;
}

.white_button:hover{
    background-color: antiquewhite;
}

#typings{
    display:flex;
    justify-content: space-evenly;
}

.type{
    width: 10em;
    height: 5em;
    background-color: gray;
    border-radius: 20px;
    border:0.1em solid black;
    color:white;
    text-align: center;
}

.type_text{
    padding-top:0.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 2em;
}

.normal{
    background-color: antiquewhite;
    color:black;
}
.fire{
    background-color: red;
}
.water{
    background-color: blue;
}
.grass{
    background-color: green;
}
.electric{
    background-color: yellow;
    color:black;
}
.ice{
    background-color: lightblue;
    color:black;
}
.fighting{
    background-color: brown;
}
.poison{
    background-color: purple;
}
.ground{
    background-color: burlywood;
    color:black;
}
.flying{
    background-color: lightcyan;
    color:black;
}
.psychic{
    background-color: pink;
}
.bug{
    background-color: greenyellow;
    color:black;
}
.rock{
    background-color: coral;
}
.ghost{
    background-color: blueviolet;
}
.dark{
    background-color: black;
}
.dragon{
    background-color: plum;
    color:black;
}
.steel{
    background-color: silver;
    color:black;
}
.fairy{
    background-color: lightpink;
    color:black;
}
.none{
    background-color: gray;
    color:black;
}

@media only screen and (max-width: 992px) {
    body{
        font-size: xx-large;
        touch-action: manipulation;
    }

    img{
        width:7em;
        height: 7em;
    }
    
    #container{
        display: flex;
        flex-direction: column;
        gap:0.1em;
    }
    #display{
        width: 70%;
        margin: 1em;
        position: relative;
        left: 7.5%;
    }
 
    #button_and_dot{
        padding: 0.5em;
    }
    #small_display{
        width: 28em;
        height: 4em;
    }
    .blue_button{
        width: 4em;
        height: 4em;
    }

    #nav{
        width: 9em;
        height: 9em;
    }

    .nav_button{
        width: 3em;
        height: 3em;
    }

    #left{
        box-shadow: 0em 0em 0em 0em;
    }

    #upper_left{
        box-shadow: 0em 0em 0em 0em;
    }
    #lower_left{
        box-shadow: 0em 0em 0em 0em;
    }
    #right{
        box-shadow: 0em 0em 0em 0em;
        padding: 1em;
    }
    #lower_right{
        box-shadow: 0em 0em 0em 0em;
    }

    #name_display{
        height: 3em;
        width: 25em;
        margin: 3em;
    }

}



  